body {
	background-color: #388E8E		;
	padding: 0px;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
	border: 15px solid;
}

* {
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 20px;
}
.content {
	width: 95%;
}
/*Mobile*/
.tablet {
	display: none;
}
.desktop {
	display: none;
}
.col-12 {
	width: 100%;
}

.col-12 h1 {
	font-weight: 700;
	font-size: 4.5em;
	line-height: 60px;
    width: 200px;
    padding-bottom:0px;
    margin-bottom:-30px;
}

.col-12 h4 {
	font-size: 1.7em;
	font-weight: 700;
	font-style: italic;
    font-family: 'Bree Serif', serif;
}
p {
    font-family: 'Bree Serif', serif;
    padding:0px;
    margin:0px;
}
h4 {
    font-family: 'Bree Serif', serif;
    padding:0px;
    margin-bottom:10px;
}
.col-12 p {
    width: 95%;
    font-size:1.1em;
    margin-bottom:20px;
}
.contact {
	width: 60%;
}
.contact a {
	color: black;
}
.contact-text a {
	color: white;
	text-decoration: none;
}
.contact-text a:hover {
	color: black;
}

/*md*/
@media screen and (min-width: 768px) {
	.mobile {
		display: none;
	}

	.tablet {
		display: block;
		padding-top: 10px;
	}
	.col-6 {
		width: 45%;
		font-size: 2em;
		font-weight: 700;
		line-height: 60px;
	}
	.col-4 {
		width: 55%;
	}
	.col-4 h4 {
        font-size: 1.2em;
	}
	.col-7 {
		width: 60%;
	}
	.contact {
		border-top: 3px solid;
		border-bottom: 3px solid;
		width: 90%;
		padding-bottom: 40px;
		padding-top: 40px;
	}
	.contact-text {
		font-size: .6em;
		line-height: 30px;
	}
	.contact-links {
		font-size: .5em;
		line-height: 30px;
		width: 80%;
    }

}

/*lg*/
@media (min-width: 992px) {
	.tablet {
		display: block;
		padding-top: 5px;
	}
	.col-6 {
		width: 50%;
	}
	.col-6 h1 {
		height: 100px;
		font-weight: 700;
		font-size: 3.9em;
		font-weight: 700;
		line-height: 115px;
		margin-top: 10px;
	}
	.col-4 {
		width: 45%;
	}
	.col-4 h4 {
		font-size: 1.6em;
	}
	.col-4 p {
		font-size: 1.3em;
	}
	.col-7 {
		width: 60%;
	}
	.contact {
		border-top: 3px solid;
		border-bottom: 3px solid;
		width: 90%;
		margin-top: 500px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.contact-text {
		font-size: 1.1em;
		width: 500px;
		line-height: 65px;
	}
	.contact-links {
		font-size: .7em;
		line-height: 50px;
		width: 150px;
	}
}

/*xl*/
@media screen and (min-width: 1200px) {
    body {
	background-color: #388E8E		;
	padding: 0px;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
	border: 20px solid;
}
	.desktop {
		display: unset;
	}
	.mobile {
		display: none;
	}
	.tablet {
		display: none;
	}
	.col-3 {
		width: 30%;
		padding-top: 50px;
	}
	.col-3 h4 {
		font-size: 2em;
		line-height: 30px;
	}
	.col-3 p {
		font-size: 1.6em;
		line-height: 30px;
	}
	.col-2 {
		width: 26%;
		padding-top: 0px;
	}
	.contact {
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 90px;
	}
	.contact-text {
        font-size: 1.8em;
        line-height:40px;
        width:405px;
	}
	.contact-links {
		font-size: 1.8em;
		line-height: 50px;
		width: 50%;
		padding-bottom: 40px;
	}
	.col-5 {
		width: 27%;
		padding-top: 45px;
	}
	.col-5 h1 {
		font-weight: 900;
		font-size: 12.5em;
		padding: 0px;
		margin: 0px;
		height: 400px;
		line-height: 200px;
	}
}
